{{/* photo single page */}}

{{ define "content" }}
<section class="single-photo-container">
  <img class="image photo single"
    src="/img/loader.gif"
    data-src="/img/{{ index .Params.photos 0 }}/1600px/{{ .Params.image }}|/img/{{ index .Params.photos 0 }}/3200px/{{ .Params.image }}" class="photo">
</section>

<footer class="photo-meta">
  {{ $taxonomy := index .Site.Taxonomies.photos (index .Params.photos 0) }}
  {{ $title := .Title }}

  <div class="nav-arrow prev">
    {{ range $i, $el := $taxonomy.Pages }}
      {{ if and (eq $title .Title) (gt $i 0) }}
        {{ $prev := index $taxonomy.Pages (add $i -1) }}
        {{ if $prev }}
          <a href="{{ $prev.URL }}"><</a>
        {{ end }}
      {{ end }}
    {{ end }}
  </div>

  <p>
    {{ range $i, $el := $taxonomy.Pages }}
      {{ if eq $title .Title }}
        {{ add $i 1 }}
      {{ end }}
    {{ end }}
    /
    {{ len $taxonomy.Pages }}
  </p>

  <div class="nav-arrow next">
    {{ range $i, $el := $taxonomy.Pages }}
      {{ if and (eq $title .Title) }}
        {{ $next := index $taxonomy.Pages (add $i 1) }}
        {{ if $next }}
          <a href="{{ $next.URL }}">></a>
        {{ end }}
      {{ end }}
    {{ end }}
  </div>
</footer>
{{ end }}
