.row {
  line-height: 0;
  margin-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
}

.content-item {
  display: inline-block;
  height: 350px;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }

  .padder {
    height: 350px;
    position: relative;

    .image {
      background-color: lighten($body-text, 70%);
      background-repeat: no-repeat;
      background-size: contain;
      height: 350px;
    }

    h3 {
      bottom: 15px;
      font-weight: 400;
      position: absolute;
      right: 30px;
    }
  }
}

.image-overlay {
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.2s background-color;
  transition: 0.2s color;

  // @media (max-width: $breakpoint-mobile-max) {
    background-image: linear-gradient(transparent, transparent 75%, rgba(0, 0, 0, 0.3) 85%);
    color: $white;
  // }

  &:hover {
    @media (min-width: $breakpoint-tablet-min) {
      background-color: rgba(0, 0, 0, 0.3);
      color: white;
      transition: 0.2s background-color;
      transition: 0.2s color;
    }
  }
}

.image {
  image-rendering: -webkit-optimize-contrast;
  max-width: 100%;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;

  &.single {
    opacity: 1;
    transition: none;
  }
}

.b-loaded {
  opacity: 1;
}

.photo-meta {
  bottom: 0;
  height: 70px;
  left: 0;
  position: fixed;
  width: 100%;

  p {
    text-align: center;
  }

  .nav-arrow {
    bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    position: absolute;

    a {
      color: $black-text;
      padding: 15px;

      &:visited {
        color: $black-text;
      }
    }

    &.next {
      right: 30px;
    }

    &.prev {
      left: 30px;
    }
  }
}