body {
  margin-top: 70px;

  @media (max-width: $breakpoint-mobile-max) {
    margin-top: 60px;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 1490px;
}

#main {
  padding: 0 15px;
}

.sidebar {
  left: 30px;
  position: fixed;
  top: 70px;
}

.single-photo-container {
  bottom: 70px;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 70px;

  .photo {
    max-height: 100%;
    max-width: 100%;
  }
}