.header {
  animation: fadein 0.15s normal forwards;
  animation-delay: 0.2s;
  background-color: #ffffff;
  height: 70px;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  @media (max-width: $breakpoint-mobile-max) {
    height: 60px;
    text-align: center;
  }

  .pure-menu {
    margin: 0 auto;
    max-width: 1600px;
    position: relative;
  }

  .pure-menu-heading {
    @media (max-width: $breakpoint-mobile-max) {
      font-size: 22px;
      left: 15px;
      padding: 0.5em 0 5px;
      position: absolute;
      top: 7px;
    }
  }

  .pure-menu-list {
    position: absolute;
    right: 15px;
    top: 15px;

    @media (max-width: $breakpoint-tablet-max) {
      display: none;
    }
  }
}

.pure-menu-item {
  padding: 0 1em;
}

.pure-menu-link {
  color: $body-text;
  padding: 0.5em 0;

  &:focus,
  &:hover {
    background-color: $white;
  }

  &:visited {
    color: $body-text;
  }
}

.submenu-item,
.pure-menu-horizontal .submenu-item {
  &::first-of-type {
    margin-top: 0.5em;
  }

  &::last-of-type {
    margin-bottom: 0.5em;
  }

  @media (max-width: $breakpoint-tablet-max) {
    margin-left: 15px;
  }

  .pure-menu-link {
    color: lighten($body-text, 20%);
    font-size: 14px;

    &:visited {
      color: lighten($body-text, 20%);
    }
  }
}

.pure-menu-selected {
  .pure-menu-link {
    @include link-underline($white, $body-text, red);

    color: $black-text;
    display: inline-block;
    line-height: 0.85;

    &:visited {
      color: $black-text;
    }
  }
}

.hamburger {
  position: absolute;
  right: 0;
  top: 15px;

  @media (min-width: $breakpoint-laptop-min) {
    display: none;
  }
}

.mobile-menu {
  background: $white;
  height: 0;
  padding: 0;
  position: fixed;
  overflow: hidden;
  transition: height .4s, padding .4s;
  width: 100%;
  z-index: 2;

  &.is-active {
    height: 100%;
    padding: 1em;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
