body {
  color: $body-text;
  font-size: 100%;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

// line height: font-size * line-height
// top/bottom margin should be same
// so here 16 * 1.25 = 20 :(
p {
  font-size: 1em;
  line-height: 1.375;
  margin: 1.375em 0;
  text-align: left;
  text-indent: 0;
}

// TODO: tablet sm/phone line-height: 1.25

// line height for headings should be same as paragraph
// so 22.4 / 18.5 = 1.21
// top margin is 1.5 * line height
h2 {
  color: $black-text;
  font-size: 2.25em;
  line-height: 1.25;
  margin: 2.0625em 0 1.375em;
}

.header {
  .pure-menu-heading {
    color: $black-text;
    font-size: 30px;
  }
}
