// TODO: reduce to minimal import
$hamburger-padding-y: 5px;
$hamburger-layer-width: 30px !default;
$hamburger-layer-height: 3px !default;
$hamburger-types: (spring);

@import '../../node_modules/hamburgers/_sass/hamburgers/hamburgers';

@import './variables';
@import './mixins';
@import './typography';
@import './layout';
@import './nav';
@import './content';
@import './about';
