<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ .Site.Title }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Photography: Analog, Events, Music, Outdoors, Urban">
    <meta name="og:description" content="Photography: Analog, Events, Music, Outdoors, Urban">
    <meta property="og:image" content="http://www.jasmijndecuyper.com/img/outdoors/1600px/Outdoors_01.jpg">
    <meta name="og:title" content="{{ .Site.Title }}">
    <meta name="og:url" content="http://www.jasmijndecuyper.com/">

    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600" rel="stylesheet">
    <link rel="stylesheet" href="/css/pure-min.css">

    <!--[if lte IE 8]>
      <link rel="stylesheet" href="/css/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
      <link rel="stylesheet" href="/css/grids-responsive-min.css">
    <!--<![endif]-->

    <link rel="stylesheet" href="/css/site.css">
  </head>
  <body>
    {{ partial "nav" . }}

    <div class="wrapper">
      {{ block "content" . }}
      {{ end }}
    </div>

    <script src="/js/site.js"></script>
  </body>
</html>
