{{/* taxonomy list (e.g. photos) */}}

{{ define "content" }}
<section id="main">
  <div class="content-grid" data-row-height="{{ .Site.Params.rowHeightContent }}">
    {{ range .Data.Pages }}
      {{ $blockUrl := .URL }}
      {{ partial "content-item" (dict "context" . "url" $blockUrl) }}
    {{ end }}
  </div>
</section>
{{ end }}
