{{/* content item used on home and list pages */}}
<div class="content-item" data-height="{{ .context.Params.height }}" 
  data-width="{{ .context.Params.width }}" 
  style="width: 0">
  <a href="{{ .url }}">
    <div class="padder">
      <div class="image"
        {{ if .isHome }}
          data-src="/img/{{ index .context.Params.photos 0 }}/800px/{{ .context.Params.image }}|/img/{{ index .context.Params.photos 0 }}/1600px/{{ .context.Params.image }}"
          data-src-xs="/img/{{ index .context.Params.photos 0 }}/800px/{{ .context.Params.image }}"
        {{ else if eq .context.Type "photos" }}
          data-src="/img/{{ index .context.Params.photos 0 }}/800px/{{ .context.Params.image }}"
        {{ end }}>
        {{ if eq .context.Type "photos" }}
        {{ else }}
          <div class="blog-post">
            <h2>{{ .name }}</h2>
            <p class="summary">{{ .context.Params.summary }}</p>
          </div>
        {{ end }}
        <div class="image-overlay">
          {{ if and (eq .context.Type "photos") .name }}
            <h3>{{ title .name }}</h3>
          {{ end }}
        </div>
      </div>
    </div>
  </a>
</div>
