<div class="header">
  <div class="pure-menu pure-menu-horizontal">
    <a class="pure-menu-heading" href="/">{{ .Site.Title }}</a>

    <ul class="pure-menu-list">
      {{ $title := .Title }}
      {{ $context := . }}

      {{ range $el := .Site.Params.navigation }}
        <li class="pure-menu-item {{ if eq $title $el.title }}pure-menu-selected{{ end }}">

          <a href="/{{ $el.url }}" class="pure-menu-link">{{ $el.title }}</a>

          {{ if eq $el.Title "Photos" }}
            {{ if or (or (eq $title "Photos") (eq $context.Data.Plural "photos")) (ne $context.Params.photos nil) }}
              {{ partial "subnav" $context }}
            {{ end }}
          {{ end }}
        </li>
      {{ end }}
      <li class="pure-menu-item">
        <a href="https://www.dokaphotos.com" class="pure-menu-link" target="_blank">Photo Editing</a>
      </li>
    </ul>

    <button class="hamburger hamburger--spring" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>
</div>

<div class="mobile-menu">
  <ul class="pure-menu-list">
    {{ $title := .Title }}
    {{ $context := . }}

    {{ range $el := .Site.Params.navigation }}
      <li class="pure-menu-item {{ if eq $title $el.title }}pure-menu-selected{{ end }}">

        <a href="/{{ $el.url }}" class="pure-menu-link">{{ $el.title }}</a>

        {{ if eq $el.Title "Photos" }}
          {{ if or (or (eq $title "Photos") (eq $context.Data.Plural "photos")) (ne $context.Params.photos nil) }}
            {{ partial "subnav" $context }}
          {{ end }}
        {{ end }}
      </li>
    {{ end }}
    <li class="pure-menu-item">
      <a href="https://www.dokaphotos.com" class="pure-menu-link" target="_blank">Photo Editing</a>
    </li>
  </ul>
</div>
