{{ $photos := .Params.photos }}
{{ $title := lower .Title }}

{{ range $name, $taxonomy := .Site.Taxonomies.photos.ByCount }}
  {{ if ne $taxonomy.Name "intersoc" }}
    <li class="pure-menu-item submenu-item {{ if or (in $photos $taxonomy.Name) (eq $title $taxonomy.Name) }}pure-menu-selected{{ end }}">
      <a href="{{ "/photos/" | relLangURL }}{{ $taxonomy.Name | urlize }}" class="pure-menu-link">{{ title $taxonomy.Name }}</a>
    </li>
  {{ end }}
{{ end }}
