{{ define "content" }}
  <section id="main">
    <div class="pure-g">
      <div class="pure-u-3-5" style="margin: 0 auto">
        <h1>Oops</h1>

        <p>You probably shouldn't be seeing this page</p>

        <p><a href="/">Click here to return to the home page</a></p>

        <p><img src="http://i1.kym-cdn.com/entries/icons/original/000/012/982/post-19715-Brent-Rambo-gif-thumbs-up-imgu-L3yP.gif"></p>
      </div>
    </div>
  </section>
{{ end }}
