{{ define "content" }}
  <section id="main">
    <div class="content-grid" data-row-height="{{ .Site.Params.rowHeightHome }}">
      {{ $isHome := .IsHome }}
      {{ range $name, $taxonomy := .Site.Taxonomies.photos }}
        {{ range $taxonomy.Pages }}
          {{ if .Params.featured }}
            {{ $blockUrl := (printf "/photos/%s" $name) }}
            {{ partial "content-item" (dict "context" . "url" $blockUrl "name" $name "isHome" $isHome) }}
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  </section>
{{ end }}
