{{/* about page */}}

{{ define "content" }}
<section id="main">
  <div class="pure-g">
    <div class="pure-u-3-5 about">
      <p>
        <img class="image"
          src="{{ .Site.Params.imagePlaceholder }}"
          data-src="/img/me.jpg|/img/me_2x.jpg">
      </p>

      <p><b>{{ .Site.Title }}</b></p>

      <p>Gent, Belgium</p>

      <p><a href="mailto:jasmijn.dec@gmail.com">{{ .Site.Params.email }}</a></p>
    </div>
  </div>
</section>
{{ end }}
