{{/* photos index page */}}

{{ define "content" }}
<section id="main">
  <div class="content-grid" data-row-height="350">
    {{ range .Data.Pages }}
      {{ $blockUrl := .URL }}
      {{ partial "content-item" (dict "context" . "url" $blockUrl) }}
    {{ end }}
  </div>
</section>
{{ end }}