{{ define "content" }}
  <section id="main">
    <div class="pure-g">
      <div class="pure-u-3-5" style="margin: 0 auto">        
        <h2>Title</h2>
        
        <h3>Subtitle</h3>

        <p>This is gonna be a happy little seascape. A tree needs to be your friend if you're going to paint him. We'll throw some old gray clouds in here just sneaking around and having fun. See how easy it is to create a little tree right in your world. It's a super day, so why not make a beautiful sky? All kinds of happy little splashes.</p>

        <p>Here we're limited by the time we have. A beautiful little sunset. Think about a cloud. Just float around and be there. Have fun with it. Let your imagination be your guide. Don't fiddle with it all day.</p>
      </div>
    </div>
  </section>
{{ end }}